
// vendor
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import './scss/variables';
@import './scss/fonts';
@import './scss/basic';
@import './scss/menu';
@import './scss/slider';
@import './scss/footer';



