body{
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
a{
    transition: all easy-out;
}
.content-dark{
    background-color: $dark-blue;
    h1, h2, h3, h4, p{
        color:#ffffff;
    }
    img{
        color:#ffffff;
    }
}