#menu{
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    color:$mainColor;
    text-transform: uppercase;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
    background: (255,255,255,0.75);
    a{
        color:$mainColor;

    }
    .navbar-nav >li>a{
        &:hover, &:focus{
        background-color: $blue;
        color:#ffffff;
        }
    }
}