#slider{
    height: 500px;
    margin-top: 50px;
    img{
    margin:0 auto;
    }
    .slick-next{
        display: none!important;
    }
    .slick-prev{
        display: none!important;
    }
    
}

